html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
