.container {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-template-rows: 3rem 2rem minmax(20rem, 1fr) 3rem;
  grid-template-areas:
    "title title title"
    "result result result"
    "roulette roulette scoreboard"
    "red black scoreboard";
}

.title {
  grid-area: title;
  text-align: center;
}

.resultText {
  grid-area: result;
  text-align: center;
}

.rouletteContainer {
  position: relative;
  grid-area: roulette;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.scoreboard {
  grid-area: scoreboard;
}

.red {
  grid-area: red;
  background-color: red;
  color: white;
}

.red:hover {
  background-color: #cf0f0f;
}

.red:disabled {
  background-color: #a15252;
  cursor: not-allowed;
}

.black {
  grid-area: black;
  background-color: black;
  color: white;
}

.black:hover {
  background-color: #222;
}

.black:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.ballContainer {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px;

  &.rotateBall {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: rotate;
    animation-timing-function: ease-out;
  }

  &.toAngle {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: toAngle;
    animation-timing-function: ease-out;
  }

  &.result {
    transform: rotate(var(--target));
  }
}

.ball {
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  background: linear-gradient(to bottom, silver, rgb(83, 83, 83));
  position: absolute;
  top: 2rem;
  left: calc(50% + var(--size) / 4);
  border-radius: 100%;
}

.rotate {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: ease-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes toAngle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(var(--target));
  }
}
