.container {
  display: grid;
  grid-template-rows: minmax(10rem, 1fr);
  grid-template-rows: 3rem repeat(10, minmax(2rem, 1fr));
  width: 100%;
  height: 100%;
}

.currentScore {
  grid-row: 1 / 2;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}
